body {
    background-color: powderblue;
}
h2 {
    color: blue;

    /* Font Style */
    font-family: cursive;

    /* Size of font */
    font-size: 200%;
}
p {
    color: red;

    /* CSS Border is a border around an HTML element*/
    border: 2px solid black;

    /* CSS Padding (space) between the text and the border.*/
    padding: 30px
    
    /* CSS Margin (space) outside the border.*/;
    margin: 60px;
}

/*
    The file must not contain any HTML code,
    and must be saved with a .css extension.

    Applied on ( A12_external_.html ) file
*/
